<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>All Categories</h2>

        <div  id="fooandrestaurants">          
            <h3>Soil</h3>            
            <a href="/category1"><img class="class-img" src="images/soil.png" width="90%" height="90%"/></a><br/>                     
            <button class="each-button">View Details</button><br/> 
            <!--<button class="each-button"></button>   -->
        </div>

        <hr/>

        <div >          
            <h3 >Compost</h3>            
            <a href="/category2"><img class="class-img" src="images/compost.jpg" width="90%" height="90%"/></a><br/>
            <button class="each-button">View Details</button><br/>
        </div>        
        
        
                        
    </div>
</div>


<%- include('footer') %>




