<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Contact</h2>
        <div class="form-class">
            <form action="/contact" method="POST" role="form">
                <label for="firstname">First Name</label><br/>
                <input name="firstname" type="text" placeholder="Enter Your First Name..." required/><br/><br/>
                <label for="lastname">Last Name</label><br/>
                <input name="lastname" type="text" placeholder="Enter Your Last Name..." required/><br/><br/>
                <label for="mobilenumber">Mobile Number</label><br/>
                <input name="mobilenumber" type="tel" placeholder="Enter Your Mobile Number..." required/><br/><br/>
                <label for="email">Email</label><br/>
                <input name="email" type="email" placeholder="Enter Your Email id..." required/><br/><br/>
                <label>Write Message</label><br/>
                <textarea name="writemessage" type="text" placeholder="Enter Your Message here...">
    
                </textarea><br/><br/>
                <div class="form-button">
                  <button type="submit">Submit</button>
                  <br/>
                  <button type="reset">Reset</button><br/><br/>
                </div>
                
      </form> 
        </div>
        
        
        
        
                        
    </div>
</div>


<%- include('footer') %>




