<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="E-Commerce Website">
    <meta name="keywords" content="Online Purchase, Buy Online, Elite Basket, Elite Joint Venture, Cheapest, Online, Buy, Purchase, E-Commerce">
    <meta name="author" content="E-Commerce">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Font Awesome for icons-->
    <script src='https://kit.fontawesome.com/a076d05399.js' async></script>

    <!--Google analytics code here-->
   
  </head>
  <body ><!--oncontextmenu="return false"-->
    <div class="grid-container">
      <div class="item item1 header">
        <div class="contact-nav" style="text-align: center;">
            <a href="mailto: elitejointventure@gmail.com" style="font-size:1.5em"><i class="fa fa-envelope mail-icon" style="font-size:1.5em"></i>elitejointventure@gmail.com</a>
        </div>
        <span onclick="openNav()" class="iconbar" title="Menu">&#9776;</span><a href="/" class="brand-title">Logo<!--<img src="images/Quick Website-logos_transparent.png" width="200px" height="70px">--></a>
        
        <div class="headernav">
          <ul>
            <li>
              <a href="/#homecontent" id="home-icon" title="Home"><i class="glyphicon glyphicon-home"></i></a>
            </li>
            <li>
              <a href="/#aboutcontent">About</a>
            </li>
            
           
            <li class="dropdown">
                <a href="/#categoriescontent">Categories</a>
                <ul>
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 1</a></li>  
                </ul>
              </li> 
              <li>
                <a href="/products">Products</a>
               
              </li> 
            <li>
              <a href="#" onclick="openContactModal()">Contact</a>
            </li>     
            
          </ul>
          <ul>
              <!--
            <li class="cart">
              <a href="#" onclick="openSignInModal()" title="Cart"><i class="fa fa-shopping-cart"></i><span class="notification"></span></a>

            </li>
            -->
            <li class="account">
              <a href="#">Account</a>
              <ul>
                <li>              
                  <a href="#" onclick="openSignInModal()">Sign in</a>
                </li>
                <li>
                  <a href="#" onclick="openSignUpModal()">Sign up</a>
                </li>
              </ul>              
            </li>
          </ul>
        </div>

      
        

      <div class="sidenav-parent">
        <div class="sidenav">
          <ul>
            <li>
              <a href="javascript:void(0)" class="closeBtn" title="Close">&times;</a>
            </li>
            <li>
              <a href="/#homecontent" onclick="closeSideNav()" title="Home"><i class="glyphicon glyphicon-home"></i></a>
            </li>
            <!--
            <li>  
              <a href="#" onclick="openSignInModal()">View Cart</a>              
            </li>
            
            <li>
              <a href="/getstarted">Get Started</a>
            </li>
            <li>
              <a href="/#howitworkscontent">How It Works</a>
            </li>
            -->
            <li>
              <a href="#" onclick="openSignInModal()">Sign in</a>
            </li>
            <li>
              <a href="#" onclick="openSignUpModal()">Sign up</a>
            </li>           
            
            <li>
              <a href="/#aboutcontent" onclick="closeSideNav()">About</a>
            </li>
            <li>
              <a href="/categories" onclick="closeSideNav()">Categories</a>
            </li>
            <li>
                <a href="/products" onclick="closeSideNav()">Products</a>
              </li>  
            
           
                  
            <li>
              <a href="/career" onclick="closeSideNav()">Career</a>
            </li>
            <li>
              <a href="/employees" >Employees</a>
            </li> 
            <li>
              <a href="/admin">Admin Staff</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li> 
            <li>
              <a href="/help">Help</a>
            </li>             
            <li>
              <a href="#" onclick="openContactModal()">Contact</a>
            </li>  
                    
          </ul>                  
        </div>

      </div>
      

      </div>
      
