<!-- Delete Confirmation Modal starts here-->          
<div class="modal-parent-confirmation-before-delete">
    <div class="modal-confirmation-before-delete">
        <h1>Are you sure, you want to delete this?</h1>
        <br/><br/>       
        
        <form id="delete-form" method="POST" role="form">                    
        <button class="delete-anchor delete-it-button" type="submit">Delete</button>                   
        </form><br/>

        <button style="cursor: pointer;" onclick="closeConfirmBeforeDeleteModal()">No</button><br/><br/>                                                                  
        <span class="X-confirmation-before-delete" onclick="closeConfirmBeforeDeleteModal()">&times;</span>
    </div>
</div>
<!-- Delete Confirmation Modal ends here-->
<script>
    function openModalConfirmBeforeDelete() {
        var modalParentConfirmBeforeDelete = document.getElementsByClassName('modal-parent-confirmation-before-delete')[0];
        var sideNav = document.getElementsByClassName('sidenav')[0];
    var iconBarButton = document.getElementsByClassName('iconbar')[0];
    var sidenavParent = document.querySelector('.sidenav-parent');

        modalParentConfirmBeforeDelete.style.display = 'block';

        //closing sidenav when signin is clicked

    sidenavParent.style.width = '0';
    sideNav.style.width = '0';
    iconBarButton.style.display = 'block';
    //closing give details sign up modal when signin is clicked
    //parentModalGiveYourDetails.style.display = 'none';
//scroll to top
    document.body.scrollTop = 0; //For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

    }
</script>
