
        <!--Admin Pass Modal starts here-->
        <div class="modal-parent-admin-pass" id="admin-pass">
            <div class="modal-admin-pass">
                <h1 style="text-align: center;">Admin Pass</h1>      
                <form action="/admin" method="post" role="form">
                  <label for="adminpass">Enter Your Admin Pass</label><br/>
                  <input name="adminpass" type="text" placeholder="Enter Your Admin Pass..." required/><br/><br/>
                                    
                                    <br/>
                  <div class="modal-button">
                    <button type="submit">Submit</button><button type="button" onclick="closeAdminPassModal()">Cancel</button><br/><br/>
                  </div>
                  
                  
                 
                </form>
                <span class="X-admin-pass">&times;</span>
            </div>
          </div>
          <!--Admin Pass Modal ends here-->
        

      <!--Emplohyee Pass Modal starts here-->
      <div class="modal-parent-employee-pass" id="employee-pass">
        <div class="modal-employee-pass">
            <h1 style="text-align: center;">Employee Pass</h1>      
            <form action="/employees" method="post" role="form">
              <label for="employeepass">Enter Your Employee Pass</label><br/>
              <input name="employeepass" type="text" placeholder="Enter Your Employee Pass..." required/><br/><br/>
                                
                                <br/>
              <div class="modal-button">
                <button type="submit">Submit</button><button type="button" onclick="closeEmployeePassModal()">Cancel</button><br/><br/>
              </div>
              
              
             
            </form>
            <span class="X-employee-pass">&times;</span>
        </div>
      </div>
      <!--Employee Pass Modal ends here-->
    