
        <!--Admin Pass Modal starts here-->
        <div class="modal-parent-admin-pass" id="admin-pass">
            <div class="modal-admin-pass">
                <h1 style="text-align: center;">Admin Pass</h1>      
                <form action="/admin" method="post" role="form">
                  <label for="adminpass">Enter Your Admin Pass</label><br/>
                  <input name="adminpass" type="text" placeholder="Enter Your Admin Pass..." required/><br/><br/>
                                    
                                    <br/>
                  <div class="modal-button">
                    <button type="submit">Submit</button><button type="button" onclick="closeAdminPassModal()">Cancel</button><br/><br/>
                  </div>
                  
                  
                 
                </form>
                <span class="X-admin-pass">&times;</span>
            </div>
          </div>
          <!--Admin Pass Modal ends here-->
        

      <!--Emplohyee Pass Modal starts here-->
      <div class="modal-parent-employee-pass" id="employee-pass">
        <div class="modal-employee-pass">
            <h1 style="text-align: center;">Employee Pass</h1>      
            <form action="/employees" method="post" role="form">
              <label for="employeepass">Enter Your Employee Pass</label><br/>
              <input name="employeepass" type="text" placeholder="Enter Your Employee Pass..." required/><br/><br/>
                                
                                <br/>
              <div class="modal-button">
                <button type="submit">Submit</button><button type="button" onclick="closeEmployeePassModal()">Cancel</button><br/><br/>
              </div>
              
              
             
            </form>
            <span class="X-employee-pass">&times;</span>
        </div>
      </div>
      <!--Employee Pass Modal ends here-->
    
      <!--Product Details Modal starts here-->
      <div class="modal-parent-product-detail" id="employee-pass">
        <div class="modal-product-detail">
            <h1 style="text-align: center;">Product Detail</h1>
            <ul>
              <li>
                <strong>Product Name: </strong> <em>Potting Soil</em>
              </li>
              <li>
                <strong>Product Dimensions: </strong> <em>27.94 x 5.08 x 40.64 cm</em>
              </li>
              <li>
                <strong>Date First Available: </strong> <em>9 April 2022</em>
              </li>
              <li>
                <strong>Manufacturer: </strong> <em>Elite Basket</em>
              </li>
              <li>
                <strong>ASIN: </strong> <em>B09XK85792</em>
              </li>
              <li>
                <strong>Item model nuber: </strong> <em>Elite Basket</em>
              </li>
              <li>
                <strong>Item Dimensions LxWxH: </strong> <em>27.9x5.1x40.6 Centimeters</em>
              </li>
            </ul>
            
            <ol>
              <li>This Soil mix is ready to use in any type of container or pots. This mixture is well suitable for all types of indoor and outdoor plants. You can see a major difference in growth of your plants after applying this soil mix.</li>
              <li>Contributing to the fertility of the soil, potting soil is derived through 40 days of aerobic decomposition of cocopeat mixed with cow dung, goat manure, oil cakes, steamed bone meal, wood ash and plant beneficial microbes.</li>
              <li>Soil contains perlite in it, which not only helps in aeration and drainage but also minimizes the soil compactness, hence, encouraging the root development. </li>
              <li>It contains neem granules which has antifungal properties, performs the dual function of both fertilizer as well as insecticide. It protects the plant from nematodes, soil grubs and white ants.</li>
            </ol>
            <br/><br/>
            <a class="product-detail-button" href="https://www.amazon.in/gp/product/B09XK85792/ref=cx_skuctr_share?smid=A1ZIK88A51XKAU" target="_blank" style="text-decoration: none;">Buy Now</a>
            <span class="X-product-detail" onclick="closeProductDetailModal()">&times;</span>
        </div>
      </div>
      <!--Product Detail Modal ends here-->
    