<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Potting Soil</h2>

        <div  id="fooandrestaurants">          
            <h3>Potting Soil</h3>            
            <a href="#" onclick="openProductDetailModal()"><img class="class-img" src="images/pottingsoil.png" width="90%" height="90%"/></a><br/> <br/>
            <a class="each-button" href="https://www.amazon.in/gp/product/B09XK85792/ref=cx_skuctr_share?smid=A1ZIK88A51XKAU" target="_blank" style="text-decoration: none;">Buy Now</a>
              <br/><br/>      
            <button class="each-button" onclick="openProductDetailModal()">View Details</button><br/> 
            <!--<button class="each-button"></button>   -->
        </div>

        

        
        
        
                        
    </div>
</div>


<%- include('footer') %>




