<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>All Products</h2>

        <div  id="fooandrestaurants">          
            <h3>Product 1</h3>            
            <a href="/product1"><img class="class-img" src="images/IMG-20220325-WA0002.jpg" width="90%" height="90%"/></a><br/>                     
            <button class="each-button">View Details</button><br/> 
            <!--<button class="each-button"></button>   -->
        </div>

        <hr/>

        <div >          
            <h3 >Product 2</h3>            
            <a href="/product2"><img class="class-img" src="images/IMG-20220325-WA0002.jpg" width="90%" height="90%"/></a><br/>
            <button class="each-button">View Details</button><br/>
        </div>

        
        
        
                        
    </div>
</div>


<%- include('footer') %>




