<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>All Products</h2>

        <div  id="fooandrestaurants">          
            <h3>Potting Soil</h3>            
            <a href="/pottingsoil"><img class="class-img" src="images/pottingsoil.png" width="90%" height="90%"/></a><br/>                     
                        <!--<button class="each-button"></button>   -->
        </div>

        <hr/>

        <div >          
            <h3 >Vermi Compost</h3>            
            <a href="/vermicompost"><img class="class-img" src="images/vermicompost.png" width="90%" height="90%"/></a><br/>
            
        </div>

        
        
        
                        
    </div>
</div>


<%- include('footer') %>




