<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Sign up</h2>
        <% if(msg != '') { %>
          <h2 style="color: red;"><%= msg %></h2>
        <% } %>
        <div class="form-class">
          
      <form action="/signupformcustomer" method="post" role="form">
        <label for="firstname">First Name</label><br/>
        <input name="firstname" type="text" placeholder="Enter Your First Name..." required /><br/><br/>
        <label for="lastname">Last Name</label><br/>
        <input name="lastname" type="text" placeholder="Enter Your Last Name..." required/><br/><br/>
        <label for="username">Username</label><br/>
        <input name="username" type="username" placeholder="Create a Username..." required/><br/><br/>
        <label for="mobilenumber">Mobile Number</label><br/>
        <input name="mobilenumber" type="tel" placeholder="Enter Your Mobile Number..." required/><br/><br/>
        <label for="email">Email</label><br/>
        <input name="email" type="email" placeholder="Enter Your Email id..." required/><br/><br/>
        <div class="form-button">
          <button type="submit">Proceed to Sign up</button><button type="reset">Reset</button><br/><br/>
        </div>
        
        <div class="modal-anchor-tags">
          <a href="/signin">Sign in</a>
        </div>
        
      </form>
        </div>
        
        
        
        
                        
    </div>
</div>


<%- include('footer') %>




