<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>All Soils</h2>

        <div  id="fooandrestaurants">          
            <h3>Potting Soil</h3>            
            <a href="#" onclick="openProductDetailModal()"><img class="class-img" src="images/pottingsoil.png" width="90%" height="280px"/></a><br/>                     
            <!--<button class="each-button"></button>   -->
        </div>
<!--
        <hr/>

        <div >          
            <h3 >Coco Peat Soil</h3>            
            <a href="/cocopeatsoil"><img class="class-img" src="images/IMG-20220325-WA0002.jpg" width="90%" height="280px"/></a><br/>
            <button class="each-button">View Details</button><br/>
        </div>

        
  -->      
        
                        
    </div>
</div>


<%- include('footer') %>




