<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>Vermi Compost</h2>

        

        <div >          
            <h3 >Vermi Compost</h3>            
            <a href="/vermicompost"><img class="class-img" src="images/vermicompost.png" width="90%" height="90%"/></a><br/>
            <button class="each-button">View Details</button><br/>
        </div>

        
        
        
                        
    </div>
</div>


<%- include('footer') %>




